.about {
    &__title {
        padding: 34px 0 30px;
        @include min-width(sm) {
            padding-top: 50px;
            padding-left: 0;
            padding-bottom: 44px;
        }
        @include min-width(lg) {
            padding-top: 55px;
            padding-left: 94px;
            padding-bottom: 44px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        @include min-width(sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @include min-width(lg) {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__text {
        padding: 23px 0 30px;
        font-family: $OpenSans;
        font-size: 17px;
        line-height: 20px;
        font-weight: 700;
        color: #000000;
        @include min-width(sm) {
            max-width: 290px;
            padding-bottom: 55px;
            font-size: 20px;
            line-height: 22px;
        }
    }
}
