.featured {
    position: relative;
    @include min-width(lg) {
        padding-left: 170px;
    }

    &__title {
        padding-top: 27px;
        @include min-width(sm) {
            padding-top: 32px;
        }
        @include min-width(lg) {
            position: relative;
            padding-top: 111px;
            z-index: 10;
        }
    }

    &__subtitle {
        padding-top: 4px;
        font-family: $OpenSans;
        font-size: 17px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #63d1bb;
        @include min-width(sm) {
            max-width: 120px;
            position: absolute;
            text-align: center;
            top: 38px;
            left: 595px;
        }
        @include min-width(lg) {
            top: 120px;
            left: 20px;
        }
    }

    &__description {
        padding-top: 24px;
        padding-bottom: 15px;
        font-family: $OpenSans;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #444444;
        @include min-width(lg) {
            padding-left: 5px;
            max-width: 290px;
            padding-top: 52px;
            font-size: 17px;
            line-height: 29px;
        }
    }

    &__characteristic {
        width: 100%;
        font-family: $OpenSans;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: #444444;
        @include min-width(lg) {
            max-width: 290px;
            padding-top: 31px;
        }
    }

    &__list {
        display: grid;
    }

    &__item {
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;
        border-bottom: solid 1px #ececec;
    }

    &__term {
        padding: 10px 0;
    }

    &__meaning {
        padding: 10px 0;
    }

    &__img {
        padding-top: 24px;
        @include min-width(sm) {
            position: absolute;
            top: 116px;
            left: 50%;
            z-index: 1;
        }

        @include min-width(lg) {
            top: 36px;
            right: 0;
            bottom: -100px;
            object-fit: cover;
        }
    }

    &__price {
        padding-top: 20px;
        text-align: center;
        font-family: $OpenSans;
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        @include min-width(lg) {
            padding-top: 106px;
            max-width: 295px;
            font-size: 20px;
        }
    }

    &__button {
        margin-top: 28px;
        margin-bottom: 36px;
        @include min-width(lg) {
            width: 292px;
            margin-top: 36px;
            margin-bottom: 100px;
            margin-left: 5px;
        }
    }

    &__line {
        position: absolute;
        height: 6px;
        left: 0;
        right: 0;
        bottom: -41px;
        background-image: url('/img/zigzag-line.svg');
        background-size: contain;
        @include min-width(lg) {
            height: 21px;
            bottom: -100px;
        }
    }
    &__zigzag {
        @include min-width(sm) {
            position: absolute;
            height: 24px;
            right: calc(10px - ((100vw - 768px) / 2));
            top: -23px;
            left: calc(2px - ((100vw - 768px) / 2));
            background-image: url('/img/zigzag.svg');
            background-size: cover;
            z-index: 20;
        }
        @include min-width(lg) {
            position: absolute;
            height: 30px;
            right: calc(-90px - ((100vw - 1250px) / 2));
            top: -29px;
            left: calc(-75px - ((100vw - 1200px) / 2));
            background-image: url('/img/zigzag.svg');
            background-size: cover;
            z-index: 20;
        }
    }
}
