.footer {
    position: relative;
    background-color: #f1f1f1;

    &__logo {
        display: none;
        @include min-width(sm) {
            position: absolute;
            display: block;
            top: 50px;
            left: calc(50px + ((100vw - 768px) / 2));
        }
        @include min-width(lg) {
            top: 51px;
            left: calc(100px + ((100vw - 1250px) / 2));
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    &__item {
        padding: 25px 20px 27px;
        @include min-width(sm) {
            padding: 57px 20px 50px;
        }
        @include min-width(lg) {
            padding: 60px 20px 50px;
        }
    }
    &__line {
        color: #e5e5e5;
        @include min-width(sm) {
            display: none;
        }
    }
    &__link {
        padding-top: 16px;
        padding-bottom: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include min-width(sm) {
            padding: 0;
            position: absolute;
            top: 50px;
            right: calc(50px + ((100vw - 768px) / 2));
        }
        @include min-width(lg) {
            top: 51px;
            right: calc(100px + ((100vw - 1250px) / 2));
        }
    }

    &__text {
        padding-right: 25px;
        font-size: 19px;
        line-height: 18px;
        font-weight: 700;
        color: #000000;
        @include min-width(sm) {
            padding: 0;
        }
    }
    &__img {
        padding-left: 20px;
        height: 40px;
    }
}
