.header {
    position: relative;
    box-shadow: 0 1px 0 0 #ececec;
    z-index: 9;

    &__wrapper {
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        @include min-width(sm) {
            max-width: 768px;
        }
        @include min-width(lg) {
            max-width: 1050px;
            padding-left: 75px;
            padding-right: 75px;
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        z-index: 50;
        @include min-width(sm) {
            margin: 0;
            padding: 22px 0 14px 48px;
        }
        @include min-width(lg) {
            margin: 0 auto;
            padding: 8px 0 3px;
        }
    }

    &__img {
        width: 86px;
        height: 35px;
        @include min-width(sm) {
            width: 113px;
            height: 46px;
        }
        @include min-width(lg) {
            width: 149px;
            height: 72px;
        }
    }
}
