.top {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/img/index/background/hero-mobile_1x.jpg');
    z-index: 1;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url('/img/index/background/hero-mobile_2x.jpg');
    }
    @include min-width(sm) {
        background-image: url('/img/index/background/hero-desktop_1x.jpg');
        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background-image: url('/img/index/background/hero-desktop_2x.jpg');
        }
    }

    &__title {
        margin: 0;
        padding: 69px 0 330px;
        font-size: 28px;
        color: #010000;
        text-align: center;
        @include min-width(sm) {
            padding: 152px 0 475px;
            font-size: 43px;
            line-height: 52px;
        }
        @include min-width(lg) {
            padding: 154px 0 489px;
            font-size: 53px;
            line-height: 57px;
        }
    }

    &__list {
        position: absolute;
        padding: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include min-width(sm) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        padding: 0 30px;
        background-color: #63d1bb;
        @include min-width(sm) {
            width: 100%;
        }
        &--toys {
            background-color: #56c3b2;
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        padding: 28px 0;
        font-family: $OpenSans;
        font-size: 19px;
        line-height: 24px;
        font-weight: 700;
        color: #ffffff;
        @include min-width(sm) {
            padding: 28px 0 42px;
            font-size: 21px;
            line-height: 30px;
        }
    }

    &__img {
        width: 62px;
        height: 62px;
        @include min-width(sm) {
            padding-top: 17px;
            height: 80px;
        }
    }
}
