.video {
    margin-bottom: 58px;
    @include min-width(sm) {
        margin-bottom: 63px;
        @include min-width(lg) {
            padding: 0;
            margin-top: 55px;
            margin-bottom: 105px;
        }
    }
    &__wrapper {
        border: 1px solid #ececec;
        @include min-width(lg) {
            position: relative;
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }
    &__box {
        @include min-width(sm) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__title {
        padding-top: 20px;
        padding-left: 33px;
        padding-bottom: 24px;
        display: flex;
        font-size: 15px;
        line-height: 26px;
        font-weight: 700;
        @include min-width(sm) {
            padding-top: 29px;
            padding-left: 41px;
            font-size: 17px;
            line-height: 32px;
        }
        @include min-width(lg) {
            position: absolute;
            width: 150px;
            flex-direction: column;
            right: 178px;
            top: 14px;
        }
    }
    &__ico {
        width: 32px;
        height: 32px;
    }
    &__text {
        padding-left: 23px;
        @include min-width(sm) {
            padding-left: 32px;
        }
        @include min-width(lg) {
            padding-top: 20px;
            padding-left: 0;
            line-height: 26px;
        }
    }
    &__picture {
        position: relative;
        @include min-width(lg) {
            margin-bottom: -5px;
        }
    }
    &__play {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 77px;
        position: absolute;
        bottom: 40px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        @include min-width(sm) {
            bottom: 193px;
        }
    }
    &__play--btn {
        width: 101px;
        &:hover {
            width: 121px;
        }
        &:active {
            width: 81px;
            opacity: 0.6;
        }
    }
    &__description {
        margin: 0 auto;
        padding-top: 24px;
        max-width: 192px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #444444;
        @include min-width(sm) {
            padding-top: 8px;
            max-width: 587px;
            font-size: 15px;
            line-height: 27px;
        }
        @include min-width(lg) {
            padding-top: 179px;
            max-width: 232px;
            font-size: 15px;
            line-height: 30px;
        }
    }
    &__button {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 33px;
        max-width: 192px;
        @include min-width(sm) {
            margin-top: 39px;
            margin-bottom: 46px;
            max-width: 584px;
        }
        @include min-width(lg) {
            position: absolute;
            width: 230px;
            bottom: 14px;
            right: 57px;
        }
    }
}
